<form #registerForm (ngSubmit)="register()" autocomplete="off" class="container col-12 py-2">

  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="form-group">
    <input type="text" name="username" class="form-control" [(ngModel)]="model.username" placeholder="Username">
  </div>

  <div class="form-group">
    <input type="password" name="password" class="form-control" [(ngModel)]="model.password" placeholder="Password">
  </div>

  <div class="form-group text-center col-12 d-flex my-2">
    <button class="btn btn-success mr-2 col-6" type="submit">Register</button>
    <button class="btn btn-default mr-2 col-6" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
